extends layout
append content
     div#nav(data-role='navbar')
        ul
          li
            a.ui-btn-active(href='#') Stats
          li
            a(href='#') System
          li
            a(href='#') HDD
 

