extends layout
block content
  script(src='/node-connection.js')
  
  div#browser(data-role='content' data-theme='a' data-inset='true' style='position: relative; top:0; left: 0; color: #2b9904;text-align: center; backround-color: black; max-width: 90%; height:90%')
  
          input(type='text' value='127.0.0.1' id='address' style='width:80%; position:relative; top:0; margin-left: auto; margin-right: auto;')
          p Welcome to the network
          p#host(style='position: relative; text-align: center')
  if info
    p Click
      a(href='/IP/JOIN' ) here
      you like sucking dicks.
  if list
  //button#listb(data-inline='true' data-mini='true' data-corners='false' style='position: fixed; top: 45px') List
  input(type='image', src='/images/nav-btn.png', alt='submit' value='Login' id="listb" style='position: fixed; left: 0.5%;top: 0.5%')
  div#iplist(data-role='content' data-theme='a' style='position: absolute; top:5px; left: 0; color: #2b9904;text-align: center; backround-color: black; width: 100%; height:90%')
  
    ol.span#ip_list(data-role='listview' data-inset='true')
      li(data-role='list-divider' style='max-width: 100% !important;') IP Database
      for x in list
     
       li(style='max-width: 90% !important' data-icon='none') 
        a(href="#" onclick="con('" + x.ip_addr + "');") #{x.ip_addr} <span style='color: red; shadow: hidden'> #{x.desc} </span>
          p.ui-li-aside
           | <span class='#{x.game_value}'></span>
  
  
  
