extends layout
append content
  
  script(src='/javascripts/acquire_programming.js')
  link(rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  sdsd
  | <style>  #progressbar {
  |              width: 300px;
  |              margin: 20px auto;
  |          }
  |          </style>
  
  input#player(type='hidden' value=player)
  input#programming(type='button' name='code' value='Programming')
  p#fan #{level}
  div#progressbar()  


lammas11..



